.center {
  text-align: center;
  margin: auto;
}
.inputs {
  padding: 10px;
  font-size: 11.5px;
  color: rgb(83, 93, 93);
  background-color: rgb(247, 247, 247);
  border-width: 1px;
  border-color: rgb(211, 210, 210);
  width: 230px;
}
.sb {
  display: block;
  margin-bottom: 0.35em;
}
.login {
  background-color: rgb(126, 155, 252);
  border-width: 0px;
  color: white;
  width: 250px;
  padding: 8px;
  font-size: 12;
  border-radius: 5px;
  font-weight: 500;
}
.logbox {
  border: 1px inset lightgray;
  border-color: lightgray;
  border-width: 1px;
  text-align: center;
  margin: auto;
  padding: 20px 30px 20px 30px;
  font: menu;
}
.instalogo {
  height: 100px;
  width: 200px;
}
.or {
  font-size: 15px;
  color: gray;
}
.facebooki {
  width: 16px;
  height: 16px;
}
.facebook {
  color: rgb(70, 70, 160);
  font-weight: 500;
  font-size: 15px;
}
.signUp {
  font-weight: bold;
  color: rgb(74, 177, 241);
}
.accountless {
  font-size: 14px;
}
.tableWidth {
  width: 350px;
}
.app {
  font: menu;
  font-size: 15px;
}
.appImages {
  height: 40px;
  width: 125px;
}
.fine {
  font: menu;
  color: gray;
  display: flex;
  justify-content: center;
}
body {
  padding-top: 35px;
  padding-bottom: 30px;
  padding-right: 30px;
}
.phone {
  width: 420px;
  height: 600px;
}
.bold {
  font-weight: bold;
}
